@media (max-width:1000px){
    .konten{
        justify-content: space-between;
    }

    .title-content{
        font-size: 20px;
    }

    .content-wrap{
        width: 50%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }

    .about-content p{
        font-size: 20px;
    }

    .content-wrap p{
        font-size: 20px;
    }
}

@media (max-width: 670px){

    .konten{
        display: block;
    }
    .content-wrap{
        width: 80%;
        margin-bottom: 30px;
        text-align: center;
    }
    .menu-icon{
        display: block;
        font-size: 100px;
    }
}